{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}
    Blog
{% endblock %}
{% block body %}
    
    {% for post in posts %}
        <li> Title: {{post.getTitle()}} Body: {{post.getBody()}}</li>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
